
<p>Schedule Pending</p>

<ul>
<li>Day 1. Spreadsheets and Intro to Python & Pandas</li>
<li>Day 2. Visualisation with Python</li>
<li>Day 3. Rasters and python </li>
<li>Day 4. Good Programming Practices </li>
</ul>



<h2>Schedule</h2>

<h3>Day 1. Spreadsheets and Intro to Python & Pandas</h3>
 <table class="table table-striped">
  <tr> <td>08:30</td>  <td>Introduction</td> </tr>
  <tr> <td>08:45</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/01-format-data/index.html"> Formatting Data Tables in Spreadsheets</a></td> </tr>
  <tr> <td>09:00</td>  <td>Exercise: Breakout Rooms</td> </tr>
  <tr> <td>09:15</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/02-common-mistakes/index.html"> Formatting Problems: Discussion </a></td> </tr>
  <tr> <td>09:30</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/03-dates-as-data/index.html">Handeling Dates</a> </td> </tr>
  <tr> <td>09:45</td>  <td>Break</td> </tr>
  <tr> <td>09:45</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/05-exporting-data/index.html">Exporting Data</a> </td> </tr>
  <tr> <td>10:00</td>  <td>What is Python </td> </tr>
  <tr> <td>10:10</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/06-short-introduction-to-Python/index.html">Intro to Programming in Python </a> </td> </tr>
  <tr> <td>10:40</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/07-starting-with-data/index.html">Exploring tabular data with Pandas </a> </td> </tr>
  <tr> <td>11:00</td>  <td>Break</td> </tr>
  <tr> <td>11:00</td>  <td>Pandas Data Types</td> </tr>
 </table>

<h3>Day 2. Visualisation with Python & Libraries</h3>
 <table class="table table-striped">
  <tr> <td>12:00</td>  <td> Refresher</td> </tr>
  <tr> <td>12:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/15-conda/index.html"> Libraries & Software Installation using Conda</a></td> </tr>
  <tr> <td>09:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/10-merging-data/index.html"> Combining Data Frames</a></td> </tr>
  <tr> <td>09:45</td>  <td> Break</td> </tr>
  <tr> <td>09:10</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/08-index-slice-subset/index.html"> Subsetting Data</a></td> </tr>
  <tr> <td>12:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/13-putting-it-all-together/index.html"> Data Visualisation - part 1</a></td> </tr>
  <tr> <td>09:45</td>  <td> Break</td> </tr>
  <tr> <td>12:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/13-putting-it-all-together/index.html"> Data Visualisation - part 2</a></td> </tr>
 </table>


<h3>Day 3. Rasters and Python Workflows </h3>
 <table class="table table-striped">
  <tr> <td>08:30</td>  <td> Refresher</td> </tr>
  <tr> <td>12:00</td>  <td> Break</td> </tr>
  <tr> <td>12:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/16-visualisation/index.html"> Visualisation CMIP data - Raster Data</a></td> </tr>
  <tr> <td>12:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/21-vectorisation/index.html"> Vectorisation</a></td> </tr>
  <tr> <td>12:00</td>  <td> Break</td> </tr>
  <tr> <td>12:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/11-loops-and-functions/index.html"> DataWorkflows and Automation</a></td> </tr>
  <tr> <td>12:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/17-functions/index.html"> Functions</a></td> </tr>
 </table>


<h3>Day 4. Good Programming Practices </h3>
 <table class="table table-striped">
  <tr> <td>08:30</td>  <td> Refresher</td> </tr>
  <tr> <td>09:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/18-cmdline/index.html"> Command Line Programs</a></td> </tr>
  <tr> <td>09:45</td>  <td> Break</td> </tr>
  <tr> <td>10:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/19-git/index.html"> Version Control</a></td> </tr>
  <tr> <td>10:40</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/20-github/index.html"> Github</a></td> </tr>
  <tr> <td>11:00</td>  <td> Break</td> </tr>
  <tr> <td>11:15</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/22-defensive/index.html"> Defensive Programming</a></td> </tr>
  <tr> <td>11:45</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/23-provenance/index.html"> Data Provenance</a></td> </tr>
 </table>


