

<!--{ %comment }
<h3>Day 1. Preparing your table - Best practices</h3>
 <table class="table table-striped">
  <col style="width:5%">
	<col style="width:15%">
	<col style="width:30%">
  <col style="width:15%">
  <col style="width:35%">
   <tr> 
    <td>TIME</td>  
    <td>SUBJECT</td> 
    <td>TOPICS COVERED</td> 
    <td>NOTEBOOK/EXERCISE</td>
    <td>MORE RESOURCES</td>
   </tr>
   <tr> 
    <td>08:45</td>  
    <td>Introduction</td> 
    <td></td> 
    <td></td>
    <td></td>
   </tr>
   <tr> 
     <td>09:00</td>  
     <td>Formatting data tables in Spreadsheets</td> 
     <td>How do we format data in spreadsheets for effective data use?</td> 
     <td></td>
     <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/01-format-data/index.html">Carpentries: data table </a></td>
  </tr>
  <tr> 
    <td>09:10</td>  
    <td>Excercise</td>       
    <td>How can this table be improved to start analysis in python? Excercise in breakout rooms</td>
    <td><a href="https://ndownloader.figshare.com/files/2252083">Datatable for exercise</a></td>
    <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/02-common-mistakes/index.html">Carpentries exercise and discussion </a></td>
  </tr>
  <tr> 
    <td>09:35</td>  
    <td>Date Notation</td> 
    <td>Good approaches for handling dates in spreadsheets</td> 
    <td></td>
    <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/03-dates-as-data/index.html">Carpentries: Dates</a></td>
  </tr>
  <tr> 
    <td>09:45</td>  
    <td>Break</td> 
    <td>15 minute break</td> 
    <td></td>
    <td></td>
  </tr>
 </table>
 
 <br>
 
<h3>Part 2. Python and the Pandas library</h3>
 <table class="table table-striped">
  <col style="width:5%">
	<col style="width:15%">
	<col style="width:30%">
  <col style="width:15%">
  <col style="width:35%">
  <tr> 
    <td>TIME</td>  
    <td>SUBJECT</td> 
    <td>TOPICS COVERED</td> 
    <td>NOTEBOOK/EXERCISE</td>
    <td>MORE RESOURCES</td>
   </tr>
   <tr> 
        <td>10:00</td>  
        <td>Starting with Python</td> 
        <td>What is Python?<br/>Data types<br/>Mathematical operations<br/>Lists</td> 
        <td><a href="https://github.com/k-rns/2020-05-22-WHOI-online/blob/gh-pages/data/01_Python%20Basics.ipynb">Notebook: Starting with Python</a></td>
        <td><a href="https://datacarpentry.org/python-ecology-lesson/00-before-we-start/index.html">Carpentries: Intro to Python I</a><br><a href="https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python/index.html">Carpentries: Intro to Python II</a><br/><a href="https://github.com/WHOIGit/pandas-talk/blob/master/01%20introduction%20to%20python.ipynb">First commands, Notebook Joe Futrelle, WHOI</a></td>
    </tr>
    <tr> 
        <td>10:20</td>  
        <td>The Pandas Library</td>
        <td>What is Pandas?<br/>How do I import data<br/>What is a dataframe?<br/>How can I access specific data within my data set?</td>
        <td><a href="https://github.com/k-rns/2020-05-22-WHOI-online/blob/gh-pages/data/02_Pandas_DataFrames_Series.ipynb">Notebook: The Pandas Library</a></td>
        <td><a href="https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html">Carpentries: Starting with data</a><br/><a href="https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html">Carpentries: Indexing, Slicing and Subsetting DataFrames in Python</a><br/><a href="https://github.com/WHOIGit/pandas-talk/blob/master/04%20anatomy%20of%20a%20dataframe.ipynb">Anatomy of a DF, Notebook Joe Futrelle, WHOI</a></td>
    </tr> 
    <tr> 
        <td>10:35</td>  
        <td>Excercise</td> 
        <td></td> 
        <td></td> 
        <td></td> 
   </tr>
   <tr> 
        <td>10:45</td>  
        <td>Break</td> 
        <td>15 minute break</td>
        <td></td> 
        <td></td> 
    </tr>
 </table>

<br> 
   
<h3>Part 3. Further manipulation of a data frame</h3>
 <table class="table table-striped">
  <col style="width:5%">
	<col style="width:15%">
	<col style="width:30%">
  <col style="width:15%">
  <col style="width:35%">
  <tr> 
    <td>TIME</td>  
    <td>SUBJECT</td> 
    <td>TOPICS COVERED</td> 
    <td>NOTEBOOK/EXERCISE</td>
    <td>MORE RESOURCES</td>
   </tr>
   <tr> 
    <td>11:00</td>  
    <td>Further manipulation of a data frame</td> 
    <td>Sorting<br/>Unique values<br/>Logical conditions<br/>Summary statistics<br/>Groups<br/>Merging dataframes</td>
    <td><a href="https://github.com/k-rns/2020-05-22-WHOI-online/blob/gh-pages/data/03_Data_Manipulation.ipynb">Notebook: Further manipulation of a dataframe</a></td> 
     <td>
       <a href="https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html">Carpentries: Statistics, groups and basic math</a>
       <br/><a href="https://datacarpentry.org/python-ecology-lesson/05-merging-data/index.html">Carpentries: Merging data</a>
       <br/><a href="https://github.com/WHOIGit/pandas-talk/blob/master/05%20querying%20and%20merging%20dataframes.ipynb">Querying and merging DFs, Notebook Joe Futrelle, WHOI</a> 
     </td> 
   </tr>
   <tr> 
     <td>11:30</td>  
     <td>Excercise</td> 
     <td></td>
     <td></td> 
     <td></td> 
   </tr>
 
   <tr> 
    <td>11:45</td>  
    <td>Break</td> 
    <td>15 minute break</td> 
    <td></td>
    <td></td> 
   </tr>
   <tr> 
    <td>12:00</td>  
    <td>Questions?</td> 
    <td></td> 
    <td></td>
    <td></td>
   </tr>
   <tr> 
     <td>12:15</td>  
     <td>Wrap-up</td> 
     <td></td> 
     <td></td> 
     <td></td> 
   </tr>
  </table>
<br> 
<h3>Part 4. Extras</h3> 
<ul>
  <li> <a href='http://queirozf.com/entries/pandas-dataframe-plot-examples-with-matplotlib-pyplot'>Plotting</a></li>
  <li> <a href='https://datatofish.com/export-dataframe-to-csv/'>Exporting dataframes</a></li>
  <li> <a href='https://github.com/WHOIGit/pandas-talk/blob/master/07%20pandas%20handling%20time%20series%20data.ipynb'>Handling time series, Joe Futrelle, WHOI</a></li>
  <li> <a href='http://datacamp-community-prod.s3.amazonaws.com/dbed353d-2757-4617-8206-8767ab379ab3'>Python for data science cheat sheet</a></li>
</ul>
<hr/>

{ %endcomment }-->

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Formatting data tables in Spreadsheets</td> </tr>
      <tr> <td>09:10</td>  <td>>Exercise</td> </tr>
      <tr> <td>12:00</td>  <td>Good approaches for handling dates in spreadsheetsk</td> </tr>
      <tr> <td>09:50</td>  <td>Break</td> </tr>
      <tr> <td>10:00</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
	
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version control with Git</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Managing data with SQL</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://github.com/adyork/python-oceanography-lesson/blob/gh-pages/_episodes/01-format-data.md"> Formatting Data Tables in Spreadsheets Introduction</a></td> 
      <tr> <td>09:10</td>  <td>>Formatting Data Tables in Spreadsheets</td> </tr>
      <tr> <td>12:00</td>  <td>Exercise: Breakout Rooms</td> </tr>
      <tr> <td>09:50</td>  <td>Formattingk Problems: Discussion</td> </tr>
      <tr> <td>10:00</td>  <td>Handeling Dates</td> </tr>
      <tr> <td>16:00</td>  <td>Break</td> </tr>
    </table>
  </div>
	
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version control with Git</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Managing data with SQL</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>



