<!-- List Amber: https://adyork.github.io/python-oceanography-lesson/  -->

<h2>Schedule</h2>

<h3>Day 1. Spreadsheets and Intro to Python & Pandas</h3>
 <table class="table table-striped">
  <tr> <td>08:30</td>  <td>Introduction</td> <td></td> </tr>
  <tr> <td>08:45</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/01-format-data/index.html"> Formatting Data Tables in Spreadsheets</a></td>  <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/"> From Data Organization in Spreadsheets for Ecologists</a></td></tr>
  <tr> <td>09:00</td>  <td><a href="https://ndownloader.figshare.com/files/2252083">Exercise: Breakout Rooms</a></td> <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/"> From Data Organization in Spreadsheets for Ecologists</a></td></tr>
  <tr> <td>09:10</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/02-common-mistakes/index.html"> Formatting Problems: Discussion </a></td> <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/"> From Data Organization in Spreadsheets for Ecologists</a></td></tr>
  <tr> <td>09:30</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/03-dates-as-data/index.html">Handeling Dates</a> </td> <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/"> From Data Organization in Spreadsheets for Ecologists</a></td></tr>
  <tr> <td>09:40</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/05-exporting-data/index.html">Exporting Data</a> </td> <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/"> From Data Organization in Spreadsheets for Ecologists</a></td></tr>
  <tr> <td>09:45</td>  <td>Break</td> <td></td> </tr>
  <tr> <td>10:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/06-intro-python-viz/index.html">What is Python </a></td> <td><a href="https://datacarpentry.org/python-ecology-lesson/"> From Data Analysis and Visualizaton in Python for Ecologists</a></td></tr>
  <tr> <td>10:10</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/07-short-introduction-to-Python/index.html">Intro to Programming in Python</a> </td> <td><a href="https://datacarpentry.org/python-ecology-lesson/"> From Data Analysis and Visualizaton in Python for Ecologists</a></td></tr>
  <tr> <td>10:40</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/08-starting-with-data/index.html">Exploring tabular data with Pandas - part 1</a> </td> <td><a href="https://datacarpentry.org/python-ecology-lesson/"> From Data Analysis and Visualizaton in Python for Ecologists</a></td></tr>
  <tr> <td>11:00</td>  <td>Break</td> <td></td> </tr>
  <tr> <td>11:10</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/08-starting-with-data/index.html">Exploring tabular data with Pandas - part 2 </a> </td> <td><a href="https://datacarpentry.org/python-ecology-lesson/"> From Data Analysis and Visualizaton in Python for Ecologists</a></td></tr>
  <tr> <td>11:30</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/09-data-types-and-format/index.html">Pandas Data Types</a></td> <td><a href="https://datacarpentry.org/python-ecology-lesson/"> From Data Analysis and Visualizaton in Python for Ecologists/</a></td></tr>
  <tr> <td>12:30</td>  <td><a href="https://forms.gle/XGEisFir5EdRWJWJ7"> Minute Card - Day 1</a></td> <td></td></tr>
 </table>

<h3>Day 2. Visualisation with Python & Libraries</h3>
 <table class="table table-striped">
  <tr> <td>08:30</td>  <td> Refresher</td> <td></td> </tr>
  <tr> <td>09:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/11-index-slice-subset/index.html"> Subsetting Data </a></td> <td><a href="https://datacarpentry.org/python-ecology-lesson/"> From Data Analysis and Visualizaton in Python for Ecologists</a></td></tr>
  <tr> <td>09:30</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/12-merging-data/index.html"> Combining Data Frames</a></td> <td><a href="https://datacarpentry.org/python-ecology-lesson/"> From Data Analysis and Visualizaton in Python for Ecologists</a></td></tr>
  <tr> <td>10:00</td>  <td> Break</td> <td></td> </tr>
  <tr> <td>10:10</td>  <td>Exercise: Combining Data Frames</td> <td></td></tr>
  <tr> <td>10:30</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/12b-conda/index.html"> Libraries & Software Installation using Conda</a></td> <td><a href="https://carpentrieslab.github.io/python-aos-lesson/"> From Python for Atmosphere and Ocean Scientists</a></td></tr>
  <tr> <td>11:00</td>  <td> Break</td> <td></td> </tr>
  <tr> <td>11:10</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/13-putting-it-all-together/index.html"> Data Visualisation: Matplotlib </a></td> <td><a href="https://datacarpentry.org/python-ecology-lesson/"> From Data Analysis and Visualizaton in Python for Ecologists</a></td></tr>
  <tr> <td>12:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/14-visualization-ggplot-python/index.html"> Data Visualisation: Plotnine </a></td> <td><a href="https://datacarpentry.org/python-ecology-lesson/"> From Data Analysis and Visualizaton in Python for Ecologists</a></td></tr>
  <tr> <td>12:30</td>  <td><a href="https://forms.gle/5rc3ofDLeVfXpK7x9"> Minute Card - Day 2</a></td> <td></td></tr>
</table>


<h3>Day 3. Python Workflows & Gridded data </h3>
 <table class="table table-striped">
  <tr> <td>08:30</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/15-refresher-day3/index.html"> Refresher</a></td> <td></td> </tr>
  <tr> <td>09:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/16-loops-and-functions/index.html"> Data Workflows and Automation</a></td> <td><a href="https://datacarpentry.org/python-ecology-lesson/"> From Data Analysis and Visualizaton in Python for Ecologists</a></td><td><a href="https://nbviewer.jupyter.org/github/adyork/python-oceanography-lesson/blob/gh-pages/notebooks/rework_automation.ipynb">Notebook: Data workflows and Automation</a></td></tr>
  <tr> <td>10:00</td>  <td> Break</td> <td></td> </tr>
  <tr> <td>10:10</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/17-Intro-NetCDF/index.html"> Intro to NetCDF</a></td> <td></td></tr>
  <tr> <td>09:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/18-visualisation/index.html"> Visualisation CMIP Data </a></td> <td><a href="https://carpentrieslab.github.io/python-aos-lesson/"> From Python for Atmosphere and Ocean Scientists</a></td> <td><a href="https://nbviewer.jupyter.org/github/adyork/python-oceanography-lesson/blob/gh-pages/notebooks/reworked_viz_xarray.ipynb"> Notebook: CMIP Visualization</a></td></tr>
  <tr> <td>11:00</td>  <td> Break</td> <td></td> </tr>
  <tr> <td>11:10</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/18b-functions/index.html"> Functions</a></td> <td><a href="https://carpentrieslab.github.io/python-aos-lesson/"> From Python for Atmosphere and Ocean Scientists</a></td> <td><a href="https://nbviewer.jupyter.org/github/adyork/python-oceanography-lesson/blob/gh-pages/notebooks/reworked_functions.ipynb"> Notebook: CMIP Fucntions</a></td></tr>
  <tr> <td>11:10</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/18c-vectorisation/index.html"> Extra: Vectorisation - masking</a></td> <td><a href="https://carpentrieslab.github.io/python-aos-lesson/"> From Python for Atmosphere and Ocean Scientists</a></td></tr>
  <tr> <td>12:30</td>  <td><a href="https://forms.gle/MpK8yXzLoNoNoHeVA">Minute Card - Day 3</a></td> <td></td></tr>
</table>


<h3>Day 4. Good Programming Practices </h3>
 <table class="table table-striped"> 
 <tr> <td>08:30</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/18a-refresher-day4/index.html"> Refresher</a></td> <td></td> </tr>
  <tr> <td>09:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/19-cmdline/index.html"> Command Line Programs</a></td> <td><a href="https://carpentrieslab.github.io/python-aos-lesson/"> From Python for Atmosphere and Ocean Scientists</a></td></tr>
  <tr> <td>09:45</td>  <td> Break</td> <td></td> </tr>
  <tr> <td>10:00</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/20-git/index.html"> Version Control</a></td> <td><a href="https://carpentrieslab.github.io/python-aos-lesson/"> From Python for Atmosphere and Ocean Scientists</a></td></tr>
  <tr> <td>10:40</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/21-github/index.html"> Github</a></td><td><a href="https://carpentrieslab.github.io/python-aos-lesson/"> From Python for Atmosphere and Ocean Scientists</a></td></tr>
  <tr> <td>11:00</td>  <td> Break</td> <td></td> </tr>
  <tr> <td>11:15</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/22-defensive/index.html"> Defensive Programming</a></td> <td><a href="https://carpentrieslab.github.io/python-aos-lesson/"> From Python for Atmosphere and Ocean Scientists</a></td></tr>
  <tr> <td>11:45</td>  <td><a href="https://adyork.github.io/python-oceanography-lesson/23-provenance/index.html"> Data Provenance</a></td> <td><a href="https://carpentrieslab.github.io/python-aos-lesson/"> From Python for Atmosphere and Ocean Scientists</a></td></tr>
 </table>


